---
import Base from "../layout/Base.astro";

---

<Base title="Profile">
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <h1 class="text-base sm:text-lg font-bold text-center">Profile Settings</h1>
    <form>

    </form>
    <p class="mt-6 max-w-prose"></p>
  </main>
</Base>